body{
    background-color: 110f0fea;
}

header{
    z-index: 100;
}

.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease in .3s;
}

.description:hover{
    height: 80px;
}